lnd/Tareas/XML/agenda.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT agenda (contacto*) >
<!ELEMENT contacto (nombre,apellido+,teléfono,email?, direccion) >

<!ELEMENT nombre (#PCDATA) >
<!ELEMENT apellido (#PCDATA) >
<!ELEMENT teléfono (#PCDATA) >
<!ELEMENT email (#PCDATA) >

<!ELEMENT direccion (calle, numero, cp) >
<!ELEMENT calle (#PCDATA) >
<!ELEMENT numero (#PCDATA) >
<!ELEMENT cp (#PCDATA) >

<!ATTLIST telefono pais CDATA #REQUIRED >
